<ng-content></ng-content>

<h1>Header Works</h1>

<!-- 
<form (ngSubmit)="onSubmit(loginForm.value)" #loginForm="ngForm">
	<label for="email">Email</label>
	<input type="email" required
		[(ngModel)]="user.email" name="email">
	<br>
	<label for="pwd">Password</label>
	<input type="password" required
		[(ngModel)]="user.pwd" name="pwd">
	<br>
	<button type="submit" [disabled]="!loginForm.form.valid">Submit</button>
</form>


 <button (click) = dummyFunction();>
 	check
 </button>

 <button (click) = logout();>
 	Log Out
 </button> -->