<h1>
  {{title}}
</h1>


<app-learnpipes></app-learnpipes>



<!-- <ul>
	<li>
		<a routerLink="/home/123"> HOME </a>
	</li>
	<li>
		<a routerLink="/about"> ABOUT US </a>
	</li>

	<button (click)="goToOtherRoute();">
		login
	</button>
</ul>

<router-outlet>
</router-outlet> -->


<!-- <button (click)="callChildFunctions()">
	Call Functions
</button>


<app-header [name]="myName" (customClick)="getInfoFromHeaderComponent($event)">
	This content will not be shown.
</app-header>


<h2 appCustomHighlight [color]="'green'">
	Hello, I am in H2 TAG!
</h2> -->


<!-- <app-header [name]="myName" (customClick)="getInfoFromHeaderComponent($event)"></app-header> -->

<!-- <button (click) = "getInfo()">
	Get Info
</button> -->