<div>
    <!--<p>{{-2025.25 | currency}}</p>-->
    <p>{{-4500.25 | currency | amount}}</p>
    <p>{{4500.25 | currency | amount}}</p>
</div>


<!--<div>
    <h2>Custom Pipe Sort</h2>
    <ul>
        <li *ngFor="let a of arr | sort: 'asc' ">
            {{ a }}
        </li>
    </ul>
</div>-->


<!-- <div>
    <h2>Custom Pipe Ellipses</h2>
    <h4>{{ longtext | ellipses }}</h4>
    <h4>{{ longtext | ellipses : '15' }}</h4>
</div> -->




<!-- <div>
    <h2>Async Pipe</h2>
    <h4> Wait... {{ promise | async }} </h4>
    <button type="button" (click)="onClick()"> Initiate Promise </button>
</div>
 -->


<!-- <div>
    <h2>Currency</h2>
    <h4> {{ a | currency }} </h4>
    <h4> {{ a | currency: 'INR' }} </h4>
    <h4> {{ a | currency: 'INR': true }} </h4>
    <h4> {{ a | currency: 'EUR': true }} </h4>
    <h4> {{ a | currency: 'GBP': true }} </h4>
    <h4> {{ a | currency: 'CAD': true }} </h4>
</div> -->



<!-- <div>
    <h2>Percent</h2>
    <h4> {{ a | percent: '.2-3' }} </h4>
    <h4> {{ b | percent }} </h4>
</div> -->


<!-- <div>
    <h2>Number</h2>
    <h4> {{ pi | number:'2.10-10'}} </h4>
</div> -->



<!-- <div>
    <h2>JSON Pipe</h2>
    <h4> {{ customerObj | json }} </h4>
</div> -->



<!-- <div>
    <h2>Lowercase and Uppercase Pipes</h2>
    <h4> {{ myCourse }} </h4>
    <h4> {{ myCourse | lowercase }} </h4>
    <h4> {{ myCourse | uppercase }} </h4>
</div> -->



<!-- <div>
	<h2>Slice Pipes</h2>
	<h4>{{ myCourse | slice:0:8}}</h4>

	<ul>
		<li *ngFor="let course of courses | slice:1:4">
            {{ course }}
        </li>
	</ul>
</div> -->



<!-- <div>
    <h2>Date Pipes</h2>
    <h4>{{ myBirthDate }}</h4>
    <h4>{{ myBirthDate | date | uppercase }}</h4>
    <h4>{{ myBirthDate | date:'MM-dd-yyyy' }}</h4>
    <h4>{{ myBirthDate | date:'MM/dd/yyyy' }}</h4>
    <h4>{{ myBirthDate | date:'MM dd yyyy' }}</h4>
    <h4>{{ myBirthDate | date:'yyyy-dd-MM' }}</h4>
    <h4>{{ myBirthDate | date:'dd-MM-yyyy' }}</h4>
    <h4>{{ myBirthDate | date:'short' }}</h4>
    <h4>{{ myBirthDate | date:'medium' | uppercase }}</h4>
    <h4>{{ myBirthDate | date:'shortDate' }}</h4>
    <h4>{{ myBirthDate | date:'longDate' }}</h4>
    <h4>{{ myBirthDate | date:'fullDate' }}</h4>
    <h4>{{ myBirthDate | date:'mediumDate' }}</h4>
    <h4>{{ myBirthDate | date:'mediumTime' }}</h4>
    <h4>{{ myBirthDate | date:'shortTime' }}</h4>
</div> -->